<nav class="navbar fixed-top navbar-light bg-light">
  <div class="container-fluid">
    <h2 class="navbar-brand">My Confluence Tasks <a (click)="settingBlockDisplay = !settingBlockDisplay"><i class="ml-1 fas fa-cog"></i></a></h2>

    <div class="container-fluid mt-2 mb-3 alert alert-secondary" *ngIf="settingBlockDisplay">
      SETTINGS
      <button class="btn btn-danger" (click)="doLogout()">LOGOUT</button>
    </div>

    <form name="newTaskForm" class="container-fluid" (ngSubmit)="onNewTask()">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text text-success" id="basic-addon1"><i class="fas fa-plus"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="My new task description" name="taskDesc" [(ngModel)]="newTaskText" [disabled]="!isMyPageExists">
        <div class="input-group-append">
          <button type="submit" class="btn btn-outline-success" [disabled]="errorMsg">Add</button>
        </div>
      </div>
    </form>

  </div>
</nav>

<div class="content container-fluid">

  <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
    {{errorMsg}}
  </div>

  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Active tasks</a>
      <ng-template ngbNavContent>
        <app-task-table [active]="true"></app-task-table>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Inactive tasks</a>
      <ng-template ngbNavContent>
        <app-task-table [active]="false"></app-task-table>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>


</div>

