
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><i class="fas fa-question" placement="right" ngbTooltip="NO API for task checking :("></i></th>
      <th scope="col" sortable="body" (sort)="onSort($event)">Task</th>
      <th scope="col" sortable="dueDate" (sort)="onSort($event)" >Due date</th>
      <th scope="col">Page</th>
      <th scope="col">Creator</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks; index as i">
      <td>{{i+1}} <i class="fas fa-bug" (click)="openDebug(task)"></i></td>
      <td>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input checkbox-1x" id="checkBox{{i}}" [disabled]="true" [checked]="task.completeDate">
        </div>
      </td>
      <td [innerHTML]="task | displayTaskBody | async"></td>
      <td>{{task.dueDate | date: dataDisplayFormat}}</td>
      <td>{{task.contentId | confluenceContentTitle | async}}</td>
      <td>{{task.creator | confluenceUser | async}}</td>
    </tr>
  </tbody>
</table>
