/* You can add global styles to this file, and also import other style files */


.confluence-user {

}

.confluence-datetime {

}

.checkbox-1x {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
}
.checkbox-2x {
  transform: scale(2);
  -webkit-transform: scale(2);
}
